<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="{{ cat }}">
        {{ msg }}
    </div>
    {% endfor %}
    <form action="/reg" method="post">
        <p>Name: </p>
        <input type="text" name="username">
        <button>Авторизоваться</button>
    </form>
</body>
</html>